body {
  background-image: url(components/DarkLeaves.jpg);
}
  
.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.off {
  background-color: lightgray;
}

.on {
  background-color: chocolate;
}

.plant {
  background-color: green;
}
  
.box:hover { 
  background: #00CCFF;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 10px 10px 30px black;
  margin-top: 20px;
}
  
h1, h2, h3, h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}

.mybutton {
  background-color: white;
  color: black;
  border: none;
  margin: 3px;
}

.primary-btn{
  background-color: greenyellow;
  padding: 10px 280x;
  font-size: 22px;
}

#size-menu {
  background-color: white;
  color: black;
  border: none;
  margin: 3px;
}